.Checkbox {
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content;
    height: 1.5rem;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    display: block;
    position: relative;
    padding-left: 1.8rem;
    left: 0.8rem;
    width: 1rem;
    height: 1rem;

    font: 14px/20px 'Open Sans', Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type='checkbox'] + label:last-child {
    margin: 0;
}

input[type='checkbox'] + label:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #6cc0e5;
    border-radius: 0.3rem;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
}

input[type='checkbox']:checked + label:before {
    width: 0.5rem;
    top: -0.4rem;
    left: 0.25rem;
    border-radius: 0.2rem;
    opacity: 1;
    border: 2px solid #6cc0e5;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type='checkbox']:indeterminate + label:before {
    top: -0.55rem;
    left: 0.3rem;
    opacity: 1;
    border-radius: 0.3rem;
    background: url('../../icons/indeterminate.svg') center;
    background-repeat: no-repeat;

    -webkit-transition: all 0.12s;
    transition: all 0.12s;
}
